<h1>New Entry</h1>

<form action="/places/<%= @place["id"] %>/entries" method="post">
  
  <p>
    <label for="name">Name</label>
    <input type="text" name="entry[name]" id="name">
  </p>

  <p>
    <label for="date">Date</label>
    <input type="date" name="entry[date]" id="date">
  </p>

  <p>
    <label for="detail">Detail</label>
    <textarea name="entry[detail]" id="detail"></textarea>
  </p>

  <button>Submit</button>
</form>